<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Styles.css">
    <title>Ingresar</title>
</head>
<body class="body-log">
  
    <header>

    <div class="logo-tittle">

    <h1>Ingresar</h1>

    <img src="/img/logo-mercado-liebre.svg" alt="logo" class="logo-log">

    </div>

    </header>

    
    <main class="main-log">

    <form action="/ingresar" method="POST">

        <div class="all-boxes">

        <input type="text" placeholder="Nombre de usuario" class="box-1-log">
        <input type="text" placeholder="Elegi tu contraseña" class="box-2-log">
        <button type="button" class="butt-log">Regresar</button>
    
    </form>

    </main>

</body>
</html>