<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css" integrity="sha512-3icgkoIO5qm2D4bGSUkPqeQ96LS8+ukJC7Eqhl1H5B2OJMEnFqLmNDxXVmtV/eq5M65tTDkUYS/Q0P4gvZv+yA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Ingresar</title>
</head>
<body class="body-log">
  
    <header class="header-login">
        
        <div class="logo-bar-tarjeta">

        <img class="logo" src="/img/logo-mercado-liebre.svg" alt="ahi va la imagen">

        <div class="logo-bar">
       <form action="">
           <input type="search" id="buscador" placeholder="Buscar productos,marcas" class="nav-bar">
       </form>
       
       <a href="#" class="lupa"> 
       <i class="fas fa-search"></i>
        </a>
        </div>

        <div class="logo-cuotas-tarjeta-flex">
        <p class="cuotas-tarjeta">Compra en cuotas y sin tarjeta de credito</p>
        <i class="fas fa-hand-holding-usd"></i>            
        </div>
    </div>

    <div class="nav">
        <nav>
            <ul>
                <li><a href="#" class="li-a-nav">Ofertas</a></li>
                <li><a href="#" class="li-a-nav">Tiendas Oficiales</a></li>
                <li><a href="#" class="li-a-nav">Vender</a></li>
                <li><a href="#" class="li-a-nav">Ayuda</a></li>
            </ul>
            
            <ul>
                <li class="li-cuenta"><a href="registro" class="li-a-nav">Crea tu cuenta</a></li>
                <a class="logo-tamanio"><i class="fas fa-address-card"></i></a>
    
                <li class="li-cuenta"><a href="ingresar" class="li-a-nav">Ingresa</a></li>
                <a class="logo-tamanio"><i class="fas fa-external-link-alt"></i></a>
            
                <li class="li-compras"><a href="#" class="li-a-nav">Mis compras</a></li>
                <a class="logo-tamanio"><i class="fas fa-cart-plus"></i></a>  
            </ul>
        </div>
        </nav>

    </div>
    </header>

    
    <main class="main-log">

    <form action="/ingresar" method="POST">

        <div class="all-boxes">

        <input type="text" name="usuario" placeholder="Nombre de usuario" class="box-1-log">
        <input type="text" name="password" placeholder="Elegi tu contraseña" class="box-2-log">
        <a href="/" class="butt-log">Regresar</a>

        </div>
    
    </form>

    </main>

</body>
</html>