* {
    margin: 0;
    box-sizing: border-box;
}


header {
    font-family: 'Roboto', sans-serif;
    background-color: #EAC926;;
}

p, li {
    font-size: 12px;
}

.body-home {
    background-color: #ebebeb;
}


footer {
    background-color: white;
    padding-top: 10px;
}

.navegation-bar {
    display: flex;
    padding-top: 9%;
    align-items: center;
}

.logo-bar {
    display: flex;
    width: 50%;
}

.nav-bar {
    padding: 8px;
    padding-right: 0.1px;
    border-style: none;
    border-radius: 3.5px;
}

.precios {
    font-size: 18px;
}

.descuentos {
    font-size: 16px;
    color: #39b54a;
}

.descripciones {
    font-size: 16px;
    padding-top: 15px;
    color: #596473;
}

.logo {
    width: 50%;
    padding-left: 5%;
    padding-right: 3%;
}

.logo-cuotas-tarjeta-flex {
    display: flex;
    justify-content: center;
    margin-top: 28px;
}

.cuotas-tarjeta {
    /* justify-content: center; */
    order: 1;
    padding-left: 2px;
}

.lupa {
 position: relative;
 right: 18px;
 background-color: white;
 border-radius: 3.5px;
 color: gray;
 font-size: 13px;
 padding-top: 6.8px;
 padding-left: 5.5px;
 padding-right: 1px;
}


.header-li {
    text-decoration: none;
    color: black;
    display: inline;
}

ul {
    list-style: none;
    display: inline;
}

.li-a-nav {
    text-decoration: none;
    color: black;
    list-style: none;
    display: inline-block;
}

.logo-ingreso {
    display: flex;
}

.li-ingreso {
    padding-right: 0.5 0 0.5 2px;
}

.logo-compras {
    display: flex;
}

.li-compras{
    padding-right: 2px;
}

.home-banner {
    margin-top: 7px;
}

.logo-tamanio {
    font-size:12px;
    padding-left: 0px;
}

.menu-hamburguesa {
    font-size: 21px;
    padding: 8.5px 11px 8.5px 10px;
    background-color: #134D7C;
    color: white;
    margin-left: 45%;
    margin-top: 30px;
    border-radius: 6px;
    margin-bottom: 20px;
    display: inline-block;
    
}

.logo-footer {
    color: blue;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 10px;
    margin-left: 45%;
    margin-right: 45%;
    font-size: 2em;
}

.subtittle-footer {
    color: #596473;
    font-size: 16px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.footer-des {
    font-size: 13px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.copyright {
    font-size: 17px;
    margin-top: 37px;
    color: #666;
    margin-left: 20px;
    /* margin-bottom: 0px; */
    padding-bottom: 17px;
}


/* --- MAIN --- */

.main-home {
    margin: auto;
    margin-left: 15px;
}

.section-produc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.article-box {
    margin-bottom: 8%;
    background-color: white;
    width: 90%;
    margin-left: 2.5%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.truck-icon {
    display: block;
    margin-bottom: 15px;
    color: #39b54a;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    /* position: absolute;
    /* right: 20px; */
}

.main-subtitle {
    margin-bottom: 20px;
    margin-top: 20px;
    color: #4E586A;
}

.product-line {
    border-bottom:  1.5px solid #ebebeb;
    width: 90%;
    margin-left: 2.5%;
}

.margin-description-main {
    margin-left: 17px;
    padding-top: 5px;
    padding-bottom: 13px;
}



 /* == MEDIA QUERIS == */

 @media (max-width:600px) {
    .nav {
        display: none;
    }
    
    .descripciones {
        display: none;
    }
}

@media (min-width:601px) {
    .menu-hamburguesa {
        display: none;
    }
}

 /* Un poco mas de movile */
 
 @media (min-width: 361px) {
    
    .main-subtitle {
        margin-left: 9px;
    }

   .logo-compras {
       padding-bottom: 7px;
   }

   .barra-de-busqueda {
       margin-left: 5%;
       padding-right: 10px;
       padding-bottom: -5px;
   }

   .menu-hamburguesa {
       margin-bottom: 8%;
   }

   .lupa {
       border-radius: 3px; 
   }

   .nav {
       margin-left: 3%;
   }

   .navegation-bar {
       display: flex;

   }
   
   .cuotas-tarjeta {
       padding-bottom: 5%;
   }

 }

        /* tablet */

    @media (min-width: 769px) {

        .logo-bar-tarjeta {
            display: flex;
            justify-content: space-between;
            justify-content: space-around;
        }

        .navegation-bar {
            padding-top: 4%;
        }

        .logo {
            padding-right: 5%;
        }

        .nav-bar {
            padding: 1px;
            border-radius: 0.5px;
            padding-right: 23%;
        }
        
        .lupa {
            position: relative;
            left: 15.5%;
            background-color: #ebebeb;
            border: solid black 1px;
            color: black;
            padding: 0.5px;
            padding-top: 0.5px;
            padding-left: 0.2px;
            border-radius: 0;
        }

        .logo-cuotas-tarjeta-flex {
            padding-top: 2.7%;
            margin-right: 3%;
        }

        .nav nav {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            flex-wrap: nowrap;
            padding-top: 5%;
            padding-bottom: 2%;
        }
        
        .nav nav ul li {
            display: inline;
        }

        .li-a-nav {
            padding-left: 9px;
        }

        ul {
            padding-left: 0px;
            padding-right: 2%;
        }
        
        .main-subtitle {
            margin-left: 39px;
            font-size: 35px;
        }

        .logo-footer {
            position: relative;
            left: 22px;
        }

        .product-line {
            /* border-bottom: solid 1.5px #ebebeb ; */
            text-decoration: solid 1.5px #ebebeb;
        }

         .article-box {
            display: inline-block;
            width: 40%;
            margin-left: 6%;
        }        

        .section-produc {
            display: inline-block;
        }

    }

    /* Desktop */

    @media (min-width: 992px) {
        .article-box {
            width: 22%;
            margin-left: 2%;
            margin-bottom: 4%;
        }
    }


/* Register */


.body-regis {
    background-color: #ebebeb;
}

.form-regis {
    background-color: #ebebeb;
    border: gray 3.5px solid;
    border-radius: 5px;
    padding: 15px;
}

.h4-regis {
    margin-top: 20px;
    margin-bottom: 20px;
}

.p-regis {
    margin-bottom: 12px;
    color: #172121;
}

.tittle-regis {
    display: flex;
    justify-content: center;
    position: relative;
    top: 40px;
}

.contenedor-regis {
    background-color: #ebebeb;
    height: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box-1 {
    display: block;
    padding: 7px 110px 7px 5px;
    margin-bottom: 35px;
    border-style: none;
    font-size: 16px;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 6px;
}

.box-2 {
    display: block;
    padding: 7px 110px 7px 5px;
    margin-bottom: 35px;
    border-style: none;
    font-size: 16px;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 6px;
}

.box-3 {
    display: block;
    padding: 7px 110px 7px 5px;
    margin-bottom: 20px;
    border-style: none;
    font-weight: lighter;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 6px;
}

.date-box {
    display: block;
    margin-bottom: 35px;
    padding: 7px 133px 7px 5px;
    border-style: none;
    border-radius: 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.adress-box {
    display: block;
    padding: 7px 105px 7px 5px;
    border-style: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.margin-radio {
    margin-left: 15px;
    margin-right: 20px;
}

.intereses {
    margin-left: 20px;
}

.electro {
    display: block;
    margin-bottom: 20px;
}

.moda {
    display: block;
    margin-bottom: 20px;
}

.hogar {
    display: block;
    margin-bottom: 20px;
}

.jugueteria {
    display: block;
    margin-bottom: 20px;
}

.vida-sana {
    display: block;
    margin-bottom: 20px;
}

.file {
    display: block;
    margin-bottom: 35px;
}

.password-regis {
    display: block;
    padding: 7px 110px 7px 5px;
    margin-bottom: 35px;
    border-style: none;
    font-size: 16px;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 6px;
}

.password-confir-regis {
    display: block;
    padding: 7px 110px 7px 5px;
    margin-bottom: 35px;
    border-style: none;
    font-size: 16px;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 6px;
}

.back-butt {
    background-color: gray;
    border-style: dotted;
    padding: 10px 10px;
    border-radius: 7px;
}

.back-butt:hover {
    color: white;
    background-color: #BBC7CE;
}

.reset-butt {
    margin-left: 20px;
    background-color: gray;
    border-style: dotted;
    padding: 10px 10px;
    border-radius: 7px;
}

.reset-butt:hover {
    color: white;
    background-color: #BBC7CE;
}

.file {
    background-color: white;
    
    border-radius: 3px;
}


/* Login */

.main-log {
    background-color: #ebebeb;
    padding-bottom: 200px;
    padding-top: 170px;
}

.body-log {
    background-color: #ebebeb;
}

.logo-log {
    width: 60px;
}

.logo-tittle {
    display: flex;
    background-color: #EAC926;
    padding-bottom: 30px;
    padding-top: 30px;
    justify-content: center;
}

.all-boxes {
    margin-left: 132px;
    /* margin-top: 200px; */
}

.box-1-log {
    display: block;
    padding: 10px 350px 10px 4px;
    margin-bottom: 35px;
    font-family:'Times New Roman', Times, serif;
    font-size: 14px;
    border-style: none;
    border-radius: 6px;
}

.box-2-log {
    display: block;
    padding: 10px 350px 10px 4px;
    margin-bottom: 35px;
    font-family:'Times New Roman', Times, serif;
    font-size: 14px;
    border-style: none;
    border-radius: 6px;
}

.butt-log {
    display: block;
    padding: 15px 225px 15px 225px;
    background-color: cornflowerblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    border-style: none;
    border-radius: 7px;
    color: white;
}










